In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("http://stats.moe.gov.tw/files/detail/107/107_land.csv")

# 學生宿舍床位數

In [66]:
df.head(10)

,學校類型,學校代碼,學校名稱,縣市別,學生宿舍床位數 (床),自有宿舍床位數 (床),教職員宿舍單身床位 (床),教職員宿舍有眷戶數 (戶),可使用校地-校舍基地(平方公尺),可使用校地-露天運動場地 (平方公尺),可使用校地-其他校地 (平方公尺),無法使用校地 (平方公尺)
0,國立大學,1,國立政治大學,臺北市,6698,6698,68,99,63334,70032,919826,19192
1,國立大學,2,國立清華大學,臺北市,0,0,0,0,1176,0,807,0
2,國立大學,2,國立清華大學,新竹縣,0,0,0,0,0,0,0,101134
3,國立大學,2,國立清華大學,新竹市,8435,8435,208,301,139494,48113,848341,0
4,國立大學,3,國立臺灣大學,臺北市,8640,8640,72,728,471354,33529,863406,0
5,國立大學,4,國立臺灣師範大學,新北市,0,0,1,13,25578,38552,251113,0
6,國立大學,4,國立臺灣師範大學,臺北市,4145,4145,12,19,112097,55314,56234,0
7,國立大學,5,國立成功大學,臺南市,6517,6517,110,129,238668,45345,1571735,0
8,國立大學,6,國立中興大學,臺中市,3294,3294,106,131,100470,30909,400146,0
9,國立大學,7,國立交通大學,臺北市,0,0,0,0,1172,0,621,0

In [50]:
df.columns

Index(['學校類型', '學校代碼', '學校名稱', '縣市別', '學生宿舍床位數\n(床)', '自有宿舍床位數\n(床)',
       '教職員宿舍單身床位\n(床)', '教職員宿舍有眷戶數\n(戶)', '可使用校地-校舍基地(平方公尺)',
       '可使用校地-露天運動場地\n(平方公尺)', '可使用校地-其他校地\n(平方公尺)', '無法使用校地\n(平方公尺)'],
      dtype='object')

In [53]:
df_bed=df[["學校類型","學校名稱","縣市別","學生宿舍床位數\n(床)"]]

In [56]:
df_bed.sort_values("學生宿舍床位數\n(床)",ascending=False,inplace=True)

/Users/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
df_bed.index=range(1,len(df_bed)+1)

In [63]:
df_bed.head()

   學校類型    學校名稱  縣市別  學生宿舍床位數\n(床)
1  國立大學  國立交通大學  新竹市          8661
2  國立大學  國立臺灣大學  臺北市          8640
3  國立大學  國立清華大學  新竹市          8435
4  私立大學    義守大學  高雄市          7728
5  國立大學  國立政治大學  臺北市          6698

## 自行查詢學校宿舍床位數
⚠️仍須研究如何將相同學校不同縣市的床位相加

In [69]:
school=input("請輸入欲查詢之學校全名")
df_bed[df_bed.學校名稱==school]

請輸入欲查詢之學校全名東吳大學

     學校類型  學校名稱  縣市別  學生宿舍床位數\n(床)
64   私立大學  東吳大學  臺北市          1857
178  私立大學  東吳大學  新北市            80

# 學校佔地大小

In [75]:
df_p=df[['學校類型', '學校名稱', '縣市別', '可使用校地-校舍基地(平方公尺)','可使用校地-露天運動場地\n(平方公尺)', '可使用校地-其他校地\n(平方公尺)']]

In [85]:
df_p["總數"]=df_p.loc[:,'可使用校地-校舍基地(平方公尺)':'可使用校地-其他校地\n(平方公尺)'].sum(axis=1)

/Users/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
df_p.sort_values(by="總數",ascending=False,inplace=True)

/Users/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [88]:
df_p.index=range(1,len(df_p)+1)

In [89]:
df_p.head()

,學校類型,學校名稱,縣市別,可使用校地-校舍基地(平方公尺),可使用校地-露天運動場地 (平方公尺),可使用校地-其他校地 (平方公尺),總數
1,國立大學,國立屏東科技大學,屏東縣,144072,48219,2443700,2635991
2,國立大學,國立東華大學,花蓮縣,374271,77725,2017555,2469551
3,國立大學,國立成功大學,臺南市,238668,45345,1571735,1855748
4,國立大學,國立暨南國際大學,南投縣,61509,53400,1369687,1484596
5,國立大學,國立臺灣大學,臺北市,471354,33529,863406,1368289

In [90]:
school=input("請輸入欲查詢之學校全名")
df_p[df_p.學校名稱==school]

請輸入欲查詢之學校全名國立政治大學

,學校類型,學校名稱,縣市別,可使用校地-校舍基地(平方公尺),可使用校地-露天運動場地 (平方公尺),可使用校地-其他校地 (平方公尺),總數
11,國立大學,國立政治大學,臺北市,63334,70032,919826,1053192

# 學校無用校地大小

In [92]:
df_no=df.sort_values(by="無法使用校地\n(平方公尺)",ascending=False)

In [94]:
df_no.head(10)

,學校類型,學校代碼,學校名稱,縣市別,學生宿舍床位數 (床),自有宿舍床位數 (床),教職員宿舍單身床位 (床),教職員宿舍有眷戶數 (戶),可使用校地-校舍基地(平方公尺),可使用校地-露天運動場地 (平方公尺),可使用校地-其他校地 (平方公尺),無法使用校地 (平方公尺)
47,國立大學,24,國立屏東科技大學,臺東縣,36,0,0,0,181,0,0,5760441
46,國立大學,24,國立屏東科技大學,屏東縣,3241,3200,0,15,144072,48219,2443700,3030064
48,國立大學,25,國立臺北科技大學,新北市,200,0,0,0,0,0,51250,1480552
73,國立大學,53,國立高雄科技大學,高雄市,4852,4827,83,79,164560,96433,980151,920536
23,國立大學,9,國立中山大學,高雄市,4140,4140,57,91,64530,70000,154939,444628
119,私立大學,1029,中山醫學大學,苗栗縣,0,0,0,0,0,0,0,418028
35,國立大學,18,國立嘉義大學,嘉義市,2580,2580,46,0,69905,77305,997044,340238
101,私立大學,1017,實踐大學,新北市,0,0,0,0,0,0,0,340171
142,私立大學,1050,佛光大學,宜蘭縣,1977,1050,79,93,25792,10400,218879,323178
51,國立大學,25,國立臺北科技大學,基隆市,0,0,0,0,0,0,0,309146